{% extends "layout.html" %}

{% block title %}
Wikidata OntoFix
{% endblock %}

{% block main %}

<div class="container">
  <p>Wikidata OntoFix: Fixing ontological relations on Wikidata.</p>

  <p>This app helps Wikidata editors to add and correct P31 and P279 statements in bulk.</p>

  <h3>Instance To Subclass </h2>
    <p> It is fairly common on Wikidata that "instance of" relations are used in place of "subclass of" relations. </p>
    <a href="{{url_for('instance2subclass')}}">Go to this ontofix</a>
</div>

{% endblock %}